@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-image: url(img/landing_page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid_container>* {
    margin-top: 100px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    color: #EAECEE;
}

.header {
    background-color: rgba(5, 5, 5, 0.9);
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 60px;
    /*background-color: #133539;*/
}

.logo img {
    padding-top: 2px;
    padding-left: 50px;
    height: 70px;
}

.logo_img {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}

.navbar {
    grid-area: navbar;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    /*background-color: #D8DE9C;*/
}

.nav_link {
    color: white;
    text-decoration: none;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    /* margin-right: 40px; */
    list-style: none;
}

.nav_menu_item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}

.main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /*background-color: #1B2F50;*/
}

.sidebar {
    grid-area: sidebar;
    /*background-color: #F1E5D5;*/
}

.footer {
    grid-area: footer;
    /*background-color: #85D6C2;*/
}

.grid_container {
    display: grid;
    gap: 10px;
    grid-template:
        "header"80px "navbar"50px "main"auto "sidebar"100px "footer"100px;
}

.nav_toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/* @media para tablet */
@media (min-width: 600px) {
    .grid_container {
        /*grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
            "header   header"
            "navbar   navbar"
            "sidebar  main"
            "footer   footer";*/
        grid-template:
            "header  header"100px "navbar  navbar"50px "sidebar main"auto "footer  footer"100px / 200px auto;
    }
}

/* @media para tablet desktop */
@media (min-width: 900px) {
    .grid_container {
        grid-template:
            "header   header  header"100px "navbar   main    sidebar"auto "footer   footer  footer"100px / 200px auto 200px;
    }
}
